# deal with pandas

In [1]:
import pandas as pd
import numpy as np
#ubuntu :poetry add matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df =pd.read_csv('./vgsales.csv')

In [3]:

# df.describe()# col +mean min max ...
# df.info() # how many col do i have +the data type
# df.keys() #col names
# std() function return sample standard deviation over requested axis.
# df.iloc[1]  #to access specific row
# all_Publisher = df['Publisher'].mode() # mode :the maximum frequency

In [4]:
# to go to specific row ('- ' for get the number from last of the file
# df.iloc[-99]

In [5]:
# here i assign value of specific column
# global_sales=df['NA_Sales']

In [6]:
# with "tail(n)" i choose last "n" column i can choose as i want 
# and head(n) this take from the first
# global_sales.tail(10)

In [7]:
# "mean()" it is to give us the average
# global_sales.tail(10).mean()

In [8]:
# here i assign value of specific column or more than one
# value = df[['Rank','Name','Global_Sales']]

In [9]:
# to sort we can use "sort_values()"and use attribute ascending 
# df.sort_values('Global_Sales',ascending=False)

In [10]:
# to get tital of every column use "keys()"
# df.keys()

In [11]:
# this way to get specific value from specific column
# df[ df['Publisher']=='Kemco']

# Data Analysis with Pandas

## Which company is the most common video game publisher?

In [12]:
all_publisher=df['Publisher']
most_common_publisher=all_publisher.mode()
most_common_publisher[0]

'Electronic Arts'

## What’s the most common platform?

In [13]:
all_platform=df['Platform']
most_common_platform=all_platform.mode()
most_common_platform[0]

'DS'

## What about the most common genre?

In [14]:
all_genre=df['Genre']
most_common_genre=all_genre.mode()
most_common_genre[0]

'Action'

## What are the top 20 highest grossing games?

In [15]:
order_highest_grossing_games=df[['Name','Global_Sales']].sort_values('Global_Sales',ascending=False)
top_20_highest_grossing_games=order_highest_grossing_games.head(20)
top_20_highest_grossing_games

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

## North American video game sales, what’s the median?

In [16]:
North_American_video_game_sales=df['NA_Sales']
North_American_video_game_sales_median=North_American_video_game_sales.median()
North_American_video_game_sales_median # 0.08

location_North_American_video_game_sales_median=df[df['NA_Sales']== North_American_video_game_sales_median]
num_of_game_with_median=len(location_North_American_video_game_sales_median) 
num_of_game_with_median #459

North_American_video_game_sales_median

0.08

In [17]:
midile=round(num_of_game_with_median/2) 
ten_games_surrounding_the_median=location_North_American_video_game_sales_median[(midile-6):(midile+5)]
ten_games_surrounding_the_median['Name']

9931               Spider-Man: Edge of Time
9934                       Turok: Evolution
9957                               Deadpool
9996             GT Advance 2: Rally Racing
10000                        A Witch's Tale
10012                     Nickelodeon Dance
10020              Phantasy Star Collection
10022                 LEGO Knights' Kingdom
10024    Family Game Night 4: The Game Show
10026                          NBA Jam 2002
10029              Tony Hawk's Pro Skater 5
Name: Name, dtype: object

In [18]:
for i in ten_games_surrounding_the_median['Name']:
    print(i)

Spider-Man: Edge of Time
Turok: Evolution
Deadpool
GT Advance 2: Rally Racing
A Witch's Tale
Nickelodeon Dance
Phantasy Star Collection
LEGO Knights' Kingdom
Family Game Night 4: The Game Show
NBA Jam 2002
Tony Hawk's Pro Skater 5

## The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?¶

In [19]:
all_platform_evelo=df[df['Platform'] !='Wii'].Global_Sales.mean()
all_platform_evelo
wii_platform_evelo=df[df['Platform'] =='Wii'].Global_Sales.mean()
compare=abs(all_platform_evelo-wii_platform_evelo)
compare

0.17601413173327207

## Top 10 shooter games?

In [39]:
df[df['Genre'] == 'Shooter'].sort_values('Global_Sales', ascending=False).head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
29,30,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
31,32,Call of Duty: Black Ops,X360,2010.0,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
33,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77,5.81,0.35,2.31,14.24
34,35,Call of Duty: Black Ops II,PS3,2012.0,Shooter,Activision,4.99,5.88,0.65,2.52,14.03
35,36,Call of Duty: Black Ops II,X360,2012.0,Shooter,Activision,8.25,4.30,0.07,1.12,13.73
36,37,Call of Duty: Modern Warfare 2,X360,2009.0,Shooter,Activision,8.52,3.63,0.08,1.29,13.51
37,38,Call of Duty: Modern Warfare 3,PS3,2011.0,Shooter,Activision,5.54,5.82,0.49,1.62,13.46
40,41,Call of Duty: Black Ops,PS3,2010.0,Shooter,Activision,5.98,4.44,0.48,1.83,12.73
43,44,Halo 3,X360,2007.0,Shooter,Microsoft Game Studios,7.97,2.83,0.13,1.21,12.14

## what the most popular game in Europe ?

In [49]:
most_popular_game_in_europe=df.sort_values('EU_Sales',ascending=False)
most_popular_game_in_europe.iloc[0]['Name']

'Wii Sports'

## name of the last game launched?

In [52]:
df.sort_values('Year',ascending=False).iloc[0]['Name']

'Imagine: Makeup Artist'

In [53]:
df.sort_values('Year',ascending=False)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
5957,5959,Imagine: Makeup Artist,DS,2020.0,Simulation,Ubisoft,0.27,0.00,0.00,0.02,0.29
14390,14393,Phantasy Star Online 2 Episode 4: Deluxe Package,PS4,2017.0,Role-Playing,Sega,0.00,0.00,0.03,0.00,0.03
16241,16244,Phantasy Star Online 2 Episode 4: Deluxe Package,PSV,2017.0,Role-Playing,Sega,0.00,0.00,0.01,0.00,0.01
16438,16441,Brothers Conflict: Precious Baby,PSV,2017.0,Action,Idea Factory,0.00,0.00,0.01,0.00,0.01
8293,8295,Shin Megami Tensei IV: Final,3DS,2016.0,Role-Playing,Deep Silver,0.03,0.00,0.14,0.00,0.17
...,...,...,...,...,...,...,...,...,...,...,...
16307,16310,Freaky Flyers,GC,NaN,Racing,Unknown,0.01,0.00,0.00,0.00,0.01
16327,16330,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.00,0.00,0.01
16366,16369,Hakuouki: Shinsengumi Kitan,PS3,NaN,Adventure,Unknown,0.01,0.00,0.00,0.00,0.01
16427,16430,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01
16493,16496,The Smurfs,3DS,NaN,Action,Unknown,0.00,0.01,0.00,0.00,0.01